@font-face {
  font-family: ubuntu;
  src: url('../Ubuntu-Regular.ttf');
}

/**
* background: #121212
* surface: #212121 
* primary: #bb86fc
* secondary #03dac6
* onPrimary: #000000
* onSurface: #fffff
**/

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: ubuntu, Geneva, Tahoma, sans-serif;
  background-color: #aaa;
}

header {
  display: flex;
  padding: 16px 32px;
  align-items: center;
  background-color: #121222;
  color: #fcfcfc;
}
header > h1 {
  flex: 1;
}

form {
  align-items: center;
  border-radius: 8px;
  display: grid;
  gap: 16px;
  height: 0;
  background-color: #121212;
  justify-items: center;
  width: 0;
  overflow: hidden;
  margin: auto;
  /* transition-property: background-color, height, opacity, width; */
  transition-property: width, height;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

button {
  border-radius: 4px;
  border: none;
  padding: 8px 16px;
  font: inherit;
}

form.visible {
  color: #fefefe;
  margin-top: 16px;
  width: 50%;
  height: 300px;
  padding: 32px;
}

input {
  border-radius: 4px;
  border: 2px solid #12121211;
  font-size: 18px;
  padding: 4px 8px;
}
.book-field:invalid:focus {
  border: 2px solid red;
}
.book-field:valid {
  border: 2px solid green;
}

.wrapper {
  margin: 16px auto;
  max-width: 900px;
}

.add {
  background-color: #bb86fc;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  display: block;
  font-family: inherit;
  opacity: 1;
  margin: 32px auto;
  padding: 16px 32px;
}

.add:hover {
  background-color: #6686fc;
}

.form-btn {
  background-color: #eeffee;
}

.ckbox {
  border: none;
  border-radius: 4px;
  height: 24px;
  width: 24px;
  margin-left: 12px;
}
